body{
    margin: 0;
    padding: 0;
    background-color: red;
}

.gameboard-container{
    background-color: red;
    height: 100vh;
}

.gameboard{
    background-color: grey;
    height: 700px;
    width: 700px;
    padding: 0;
}

.panel-info{
    background-color: rgb(41, 23, 2);
    /*height: 100vh;*/
    border: 1px solid black;
    padding: 0;
    height: 750px;
    
}



#info {
    background-color: grey;
    height: 750px;
    font-size: 17px;
}





.tile-row{
    width: 100%;
    margin: 0;
}

.tile{
    height: 100%;
    border: 1px solid black;
}

.charimage{
    height: 100%;
    width: 100%;
    background-color: brown;
}

h2 {
    color: whitesmoke;
}


.infos {
    border: 1px solid grey;
    height: 500px;
    text-align: center; 
}

.actions {
    border: 1px solid grey;
    height: 300px;
    text-align: center;
    background-color: rgb(41, 23, 2);
}